* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: gray;
    font-family: "Montserrat", sans-serif;
}

#content {
    height: 100vh;
    text-align: center;
    align-content: center;
}

h1, p {
    margin: 20px 0;
}